{% extends 'layout.html' %}

{% block body %}
	
	<br>
	<h1>Create User</h1>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group" >
			{{render_field(form.first_name, class="form-control", placeholder="John", id="first_name")}}
		</div>
		<div class="form-group" >
			{{render_field(form.last_name, class="form-control", placeholder="Doe", id="last_name")}}
		</div>
		<div class="form-group" >
			{{render_field(form.phone, class="form-control", placeholder="787-666-6666", id = "phone")}}
		</div>
		<div class="form-group" >
			{{render_field(form.username, class="form-control", placeholder="jdoe", id="username")}}
		</div>
		<div class="form-group" >
			{{render_field(form.password, class="form-control", placeholder="password", id="password")}}
		</div>
		<div class="form-group" >
			{{render_field(form.confirm, class="form-control", placeholder="password", id = "confirm_password")}}
		</div>
		<div class="form-group" >
			{{render_field(form.user_type, class="form-control", id = "user_type")}}
		</div>
		<div>
			<p>If user is a driver, fill out license. Otherwise, leave blank.</p>
		</div>
		<div class="form-group" >
			{{render_field(form.license, class="form-control", placeholder="1234567", id = "license")}}
		</div>
		<p><input type="submit" class="btn btn-primary"value="Submit" id="submit"></p>
	</form>

{% endblock %}